/* styles.css or equivalent */
.dark {
  --text-color: hsl(0, 0%, 100%);
  --background-color: hsl(207, 26%, 17%);
  /* Add other dark mode styles here */
}

.dark .light-text {
  color: hsl(200, 15%, 8%);
}
